body{
  font-family: sans-serif;
  margin: 0;
  background-color:#FF9F43;
 /*НЕ ЗАБУДЬ ДОДАТИ ГАРНИЙ ФОН)))*/
}
h1{
    margin-top:30px;
    border:4px solid #000000;
    background-color:grey;
    display:block;
    padding:12px;
    text-align:center;
    margin:0 auto ;
    width:500px;
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
    font-weight:bold;
}
h2{
    text-align:center;
    color:#3E2723;
}
.pubg {
    font-family:Georgia;
    border:4px solid;
    padding:3px;
    height:108px;
    background-color:#E3F2FD;
}
.pubg1 {
    font-size:20px;
 text-align:center;
    border:4px solid #000000;
height:300px;
 background-color:#E3F2FD;
}
.pubgkarty {
    text-align:left;
    padding-left:170px;
}
.pubgkarty222 {
     margin-left:25px;
     font-size:30px;
     text-shadow:2px 2px 5px rgba(0,0,0,0.5);
     height:20px;
}
.div {
    display:flex;
}
.main {
    display:flex;
    justify-content:center;
    gap:30px;
    border:5px solid black;
}
img{
    border:2px solid black;
}
.main1 {
     display:flex;
    justify-content:center;
    gap:30px;
    border:5px solid black;
}
.pubgkarty2221 {
    margin-left:25px;
     font-size:30px;
     text-shadow:2px 2px 5px rgba(0,0,0,0.5);
     height:20px;
}
.bro1 {
    border:3px solid white;
}
.sss {
    text-align:center;
    font-weight:bold;
}
